@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui;
  --font-display: "Outfit", ui-sans-serif, system-ui;
  --font-tamil: "Hind Madurai", "Tiro Tamil", sans-serif;
  --font-serif: "Tiro Tamil", serif;
}

body {
  font-family: var(--font-sans);
  background-color: #020617; /* slate-950 */
}
